form{
    width:50%;
    transform: translate(50%,0%);
    border:1px solid #599399f0;
    border-radius:10px;
    padding:20px;
    background-color: #599399f0;
}
input{
    background-color: #6ea4a9f0;
    border:0px;
}
input:focus{
    background-color: #6ea4a9f0;
    border-color: #286e75f0;
}
input::placeholder{
    color:white;
}

.btn-create{
    color: #fff;
    background-color: #2d6c72;
    border:1px #2d6c72;
    border-radius: 2px; 
    padding:6px;
}
button{
    margin:10px;
}
appRej-btn{
    margin:0 10px 0 10px 0;
}