<div class="form-body">
  <button class="btn-primary" (click)="show='add'">
    Add Inventory
  </button>
  <form [hidden]="show!='add'">
    <div class="form-group">
      <label>Product Id</label>
      <input type="text" class="form-control" name="productId" [(ngModel)]="inventory.productId" placeholder="Enter Product Id">
    </div>
    <div class="form-group">
      <label>Product Name</label>
      <input type="text" class="form-control" name="productName" [(ngModel)]="inventory.productName" placeholder="Enter Product Name">
    </div>
    <div class="form-group">
      <label>Vendor</label>
      <input type="text" class="form-control" name="vendor" [(ngModel)]="inventory.vendor" placeholder="Enter Vendor">
    </div>
    <div class="form-group">
      <label>MRP</label>
      <input type="text" class="form-control" name="mrp" [(ngModel)]="inventory.mrp" placeholder="Enter MRP">
    </div>
    <div class="form-group">
      <label>Batch Number</label>
      <input type="text" class="form-control" name="batchNum" [(ngModel)]="inventory.batchNum" placeholder="Enter Batch Number">
    </div>
    <div class="form-group">
      <label>Batch Date</label>
      <input type="text" class="form-control" name="userId" [(ngModel)]="inventory.batchDate" placeholder="Enter BatchDate">
    </div>
    <div class="form-group">
      <label>Quantity</label>
      <input type="text" class="form-control" name="qty" [(ngModel)]="inventory.qty" placeholder="Enter Quantity">
    </div>
    <button type="submit" class="btn-create" (click)="addInventory()">Add Inventory</button>
  </form>
  <button class="btn-primary" (click)="show='invs';getAllInventories()">
    Show All Inventories
  </button>
  <div [hidden]="show!='invs'">
    <div *ngFor="let inv of inventoryList">
      <label>ProductId</label>
      <span>{{inv.productId}}</span>
      <button (click)="openUpdateForm(inv.productId)">Update</button>
      <button (click)="deleteInventoryFunction(inv.productId)">Delete</button>
      <form [hidden]="updateFormFlag!=inv.productId">
        <div class="form-group">
          <label>Product Id</label>
          <input type="text" class="form-control" name="productId" [(ngModel)]="updateInventory.productId" placeholder="Enter userId">
        </div>
        <div class="form-group">
          <label>Product Name</label>
          <input type="text" class="form-control" name="productName" [(ngModel)]="updateInventory.productName" placeholder="Enter userId">
        </div>
        <div class="form-group">
          <label>Vendor</label>
          <input type="text" class="form-control" name="vendor" [(ngModel)]="updateInventory.vendor" placeholder="Enter userId">
        </div>
        <div class="form-group">
          <label>MRP</label>
          <input type="text" class="form-control" name="mrp" [(ngModel)]="updateInventory.mrp" placeholder="Enter userId">
        </div>
        <div class="form-group">
          <label>Batch Number</label>
          <input type="text" class="form-control" name="batchNum" [(ngModel)]="updateInventory.batchNum" placeholder="Enter userId">
        </div>
        <div class="form-group">
          <label>Batch Date</label>
          <input type="text" class="form-control" name="batchDate" [(ngModel)]="updateInventory.batchDate" placeholder="Enter userId">
        </div>
        <div class="form-group">
          <label>Quantity</label>
          <input type="text" class="form-control" name="qty" [(ngModel)]="updateInventory.qty" placeholder="Enter userId">
        </div>
        <button type="submit" class="btn-create" (click)="updateInventoryFunction(inv.productId)">Add Inventory</button>
      </form>
    </div>
  </div>
</div>